/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Fredoka One' !important ;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
}

.item {
  transition: 0.5s;
}

.item:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.1);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}